body {
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    transition: background-color .5s;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.track-art {
    margin: 25px 0;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    animation: fadeIn 1.5s ease-in-out;
}

.logo-box {
    background-image: url("logo.jpg");
    background-size: cover;
    background-position: center;
}

.now-playing {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.track-name {
    font-size: 2rem;
    margin: 10px 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.playpause-track {
    padding: 10px;
    opacity: 0.8;
    transition: opacity .2s, transform .2s, color .5s;
    animation: pulse 2s infinite;
    color: #fff;
}

.playpause-track:hover {
    opacity: 1.0;
    transform: scale(1.1);
    color: rgba(67, 218, 117, 1);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}


.seek-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.seek-button button {
    background-color: rgba(67, 218, 117, 1);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s;
}

.seek-button button:hover {
    background-color: rgba(47, 198, 97, 1);
}


.go-live-container {
    margin: 20px 0;
}

.go-live-button {
    background-color: rgba(67, 218, 117, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.go-live-button:hover {
    background-color: rgba(47, 198, 97, 1);
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity .2s, transform .2s, color .5s;
}

.social-icons a:hover {
    opacity: 1.0;
    transform: scale(1.1);
    color: rgba(67, 218, 117, 1);
}

.social-icons i {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .player {
        width: 95%;
        max-width: 90%;
    }

    .track-art {
        height: 120px;
        width: 120px;
    }

    .playpause-track {
        font-size: 3rem;
    }

    .social-icons i {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .player {
        width: 100%;
        max-width: 100%;
        padding: 15px;
    }

    .track-art {
        height: 100px;
        width: 100px;
    }

    .playpause-track {
        font-size: 2rem;
    }

    .social-icons i {
        font-size: 1rem;
    }
}